.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.open {
  display: flex;
}

.modal__block {
  position: relative;
  max-width: 520px;
  width: 100%;
  padding: 20px;
  background-color: cssvar(white);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.1);
}

.modal__subtitle {
  font-size: rem(18px);
  font-weight: 400;
  margin-bottom: 2px;
}

.modal__title {
  font-size: rem(36px);
  line-height: 43px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.modal__label {
  display: flex;
  margin-bottom: 22px;
  align-items: center;
}

.modal__label-text {
  min-width: 105px;
  font-size: rem(18px);
  margin-right: 20px;
}

.modal__input {
  flex-grow: 1;
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent cssvar(black) transparent;
  font-size: rem(18px);
  padding: 10px;
}

.modal__submit {
  margin-top: 20px;
  border: 1px solid cssvar(secondaryColor);
  color: cssvar(white);
  background-color: cssvar(secondaryColor);
  border-radius: 60px;
  padding: 8px 20px;
  font-weight: 400;
  font-size: rem(18px);
  line-height: 32px;
  cursor: pointer;
}
